{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
{% endblock %}

{% block content %}
    <div class="container">
		<h2>Rental Records</h2>

		<table>
		  <tr>
			<th>Date</th>
			<th>Username</th>
			<th>Brand</th>
			<th>Model</th>
			<td>{{type(recordsData)}}</td>
		  </tr>
		 {%for i in recordsData%}
			<tr>
				<td>{{i.dateRented}}</td>
				<td>{{i.user.username}}</td>
				<td>{{i.vehicle.vehicleBrand}}</td>
				<td>{{i.vehicle.vehicleModel}}</td>
			</tr>
		 {%endfor%}
		</table>
		<button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='{{ url_for( 'adminDashboard' ) }}';">Back</button>
    </div> <!-- /container -->

{% endblock %}