{% extends 'layout.html' %}
{% block body %}
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
<h1>Search User</h1>
{% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.category, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.keyword, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Search">
  </form>
		<table>
		  <tr>
			<th>ID</th>
			<th>Username</th>
			<th>First Name</th>
			<th>Surname</th>
			<th></th>
			<th></th>
		  </tr>
		 {%for i in data%}
			<tr>
				<td>{{i['userID']}}</td>
				<td>{{i['username']}}</td>
				<td>{{i['firstname']}}</td>
				<td>{{i['surname']}}</td>
				<td><a href="edit_user/{{i['userID']}}" class="btn btn-default pullright">Edit</a></td >
				<td>
					<form action="{{url_for('deleteUser', userID=i['userID'])}}" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
				</td>
			</tr>
		 {%endfor%}
		</table>
        </center>
{% endblock %}