{% extends 'layout.html' %}
{% block body %}
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
<h1>Search Vehicle</h1>
{% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.category, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.keyword, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Search">
  </form>
		<table>
		  <tr>
			<th>ID</th>
			<th>Brand</th>
			<th>Model</th>
			<th>Colour</th>
			<th>Cost</th>
			<th></th>
			<th></th>
		  </tr>
		 {%for i in data%}
			<tr>
				<td>{{i['vehicleID']}}</td>
				<td>{{i['vehicleBrand']}}</td>
				<td>{{i['vehicleModel']}}</td>
				<td>{{i['colour']}}</td>
				<td>{{i['cost']}}</td>
				<td><a href="edit_vehicle/{{i['vehicleID']}}" class="btn btn-default pullright">Edit</a></td >
				<td><a href="report_vehicle/{{i['vehicleID']}}" class="btn btn-default pullright">Report</a></td >
				<td>
					<form action="{{url_for('deleteVehicle', vehicleID=i['vehicleID'])}}" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
				</td>
			</tr>
		 {%endfor%}
		</table>
{% endblock %}