{% extends 'layout.html' %}

{% block body %}
<h1 class="page-header">Welcome, {{session.username}} </h1>
<a class="btn btn-success" href="/add_user"> Add User </a>
<a class="btn btn-success" href="/add_vehicle"> Add Vehicle </a>
<a class="btn btn-success" href="/search_user"> Search User </a>
<a class="btn btn-success" href="/search_vehicle"> Search Vehicle </a>
<center>
	<center>
		<h2 class="page-header">{{ titleBar }}</h2>
	</center>
	<canvas id="chartBar" width="600" height="400"></canvas>
	<center>
		<h2 class="page-header">{{ titleLine }}</h2>
	</center>
	<canvas id="chartLine" width="600" height="400"></canvas>
	<center>
		<h2 class="page-header">{{ titlePie }}</h2>
	</center>
	<canvas id="chart" width="600" height="400"></canvas>
</center>
{% endblock %}