{% extends 'layout.html' %}
{% block body %}
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
<h1>Rental Records</h1>
		<table>
		  <tr>
			<th>Date</th>
			<th>Username</th>
			<th>Brand</th>
			<th>Model</th>
		  </tr>
		 {%for i in recordsData%}
			<tr>
				<td>{{i.dateRented}}</td>
				<td>{{i.user.username}}</td>
				<td>{{i.vehicle.vehicleBrand}}</td>
				<td>{{i.vehicle.vehicleModel}}</td>
			</tr>
		 {%endfor%}
		</table>
{% endblock %}