<!-- Search Bar -->
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Search
{% endblock %}

{% block styles %}
{{super()}}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{{url_for('.static', filename='CSS.css')}}">
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
{% endblock %}

{% block content %}
	<div class="container">
        <h1><center>Search Vehicle</center></h1>
        <form class="form-search" method="post" action="" style="margin:auto;max-width:600px">
			{{ form.hidden_tag() }}
			{{ form.csrf_token }}
			{{ form.field }}
			{{ wtf.form_field(form.keyword) }}
        <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-search"></i></button>
        </form>
        <p></p>
        <center>
		<table>
		  <tr>
			<th>ID</th>
			<th>Brand</th>
			<th>Model</th>
			<th>Colour</th>
		  </tr>
		 {%for i in data%}
			<tr>
				<td>{{i['vehicleID']}}</td>
				<td>{{i['vehicleBrand']}}</td>
				<td>{{i['vehicleModel']}}</td>
				<td>{{i['colour']}}</td>
			</tr>
		 {%endfor%}
		</table>
        </center>
	</div>
{% endblock %}